extends layout

block content
  header
    section
      .container.grid-md
        center
          img.small(src="/images/team-nyc-logo-transparent.png")
          h2 Let's Go!
        .postcard
          h6 Dear&nbsp;
            = rep.name
            | ,
          p It is imperative you oppose SR-123, the Kill the Puppies Act of 2018.
          p The ASPCA sums it up nicely: "Do not hurt the puppies. Puppies are our friends. Because puppy mills focus on profit, dogs are often bred with little regard for genetic quality. Puppy mill puppies are prone to congenital and hereditary conditions including heart disease and blood and respiratory disorders."
          p I'm grateful for your continued service to NY.
          h6 Your Constituent,
          .columns
            .column.col-8
              input(type="text", placeholder="Your Name")
            .column.col-4
              center
                a.btn Send An Email
    section
      .container.grid-md
        center
          h2 About Your Rep:
        .columns
          .column.col-6.col-ml-auto
            img(src=rep.banner)
          .column.col-4.col-mr-auto
            h5= rep.name
            h6= user.neighborhood
            h6= district.name
            p
              br
              a(href="mailto:" + rep.email)
                = rep.email
              br
              a(href="tel:" + rep.phone)
                = rep.phone
              br
              a(href="https://twitter.com/" + rep.twitter)
                = "@" + rep.twitter



