extends layout

block content
  header
    section.email
      .container.grid-md
        center
          h6 Want a message when there's something you can do?
          h6
            a(href="https://tinyletter.com/teamnewyork") Subscribe on Tiny Letter

    section.hero
      .container.grid-sm
        center
          img.logo(src="/images/team-nyc-logo-transparent.png")
          h1 YOU CAN
            br
            | DO IT!

        .columns
          .column.col-6
            img(src="/images/phone.png")
          .column.col-6
            .intro
              p Team New York makes it easy to engage in local politics by sending action alerts and organizing toolkits on a community board, borough, and city-wide level.
              ul
                li Personalized action alerts
                li One-click letters to your city reps
                li Organizing toolkits

              h6
                a(href="/join") Join Now
                | &nbsp; or &nbsp;
                a.patreon(href="https://tinyletter.com/teamnewyork") Support Us on Patreon

    section.letter
      .container.grid-sm
        center
          h2 Hey Mayor!
        .postcard
          h6 Dear Mayor DeBlasio,
          p It is imperative you oppose SR-123, the Kill the Puppies Act of 2018.
          p The ASPCA sums it up nicely: "Do not hurt the puppies. Puppies are our friends. Because puppy mills focus on profit, dogs are often bred with little regard for genetic quality. Puppy mill puppies are prone to congenital and hereditary conditions including heart disease and blood and respiratory disorders."
          p I'm grateful for your continued service to NY.
          h6 Your Constituent,
          .columns
            .column.col-8
              input(type="text", placeholder="Your Name")
            .column.col-4
              center
                a.btn Send A Letter
                em
                  small ($2.49 for postage &amp; printing)

    section.about
      .container.grid-md
        center
          h2 About Us
        .columns
          .column.col-6
            p Team New York makes it easy to engage in local politics by sending action alerts and organizing toolkits on a community board, borough, and city-wide level.
          .column.col-6
            p Team New York makes it easy to engage in local politics by sending action alerts and organizing toolkits on a community board, borough, and city-wide level.

    section.support
      .container.grid.sm
        center
          h2 Support Team
            br
            | New York
        .columns
          .column.col-2.col-ml-auto
            img(src="/images/tote.png")
          .column.col-4.col-mr-auto
            h5 NYC Tote Bag
            h5 $25
            p Team New York makes it easy to engage in local politics by sending action alerts and organizing toolkits on a community board, borough, and city-wide level.
            ul
              li 100% Cotton Tote
              li Made in the USA
              li Ships from Brooklyn
            a.btn Buy Now
            br
            br
            p
              em (Also available as a &nbsp;
                a.patreon(href="https://tinyletter.com/teamnewyork") Patreon reward
                | )

