extends layout
include mixins/events.pug
include mixins/postcard.pug

block content
  header.hero
    section.hero
      .container.grid-sm
        center
          img.logo(src="/images/team-nyc-logo-red.png")
          h1 YOU CAN
            br
            | DO IT!

      .container.grid-md
        .columns
          .column.col-5.col-sm-10.col-ml-auto
            video.img-responsive(src="/images/phone-animation.mp4", autoplay, poster="/images/phone.png")
              img.shadow(src="/images/phone.png")
          .column.col-5.col-sm-10.col-mx-auto
            .intro
              p Team New York makes it easy to stay active in NYC politics:
              ul
                li Personalized city news
                li Action alerts
                li One-click letters to your city reps
                li Local event calendar
              h6 $5/month Donation
              a.btn(href="/join") Join Now

    .container.grid-md
      hr
    section.letter
      .container.grid-md
        center
          h2 Hey Mayor!
        +postcard(letter, representative, true)

    section.about
      .container.grid-md
        center
          h2 About Us
        .columns
          .column.col-8.col-mx-auto
            center
              | Team New York makes it easy to engage in local politics by sending action alerts and organizing toolkits on a community board, borough, and city-wide level.

    +events(meetings)

    section.support
      .container.grid-md
        center
          h2 Support Team
            br
            | New York
        .columns
          .column.col-4.col-sm-8.col-mx-auto
            img(src="/images/tote.png")
          .column.col-6.col-sm-8.col-mx-auto
            h5 NYC Tote Bag
            h5 $19
            p Team New York makes it easy to engage in local politics by sending action alerts and organizing toolkits on a community board, borough, and city-wide level.
            ul
              li 100% Cotton Tote
              li Made in the USA
              li Ships from Brooklyn
            a.btn Buy Now
