extends layout
include mixins/events.pug

block content
  header.hero
    section.hero
      .container.grid-sm
        center
          img.logo(src="/images/team-nyc-logo-red.png")
          h1 YOU CAN
            br
            | DO IT!

      .container.grid-md.hide-sm
        .columns
          .column.col-5.col-ml-auto
            img.shadow(src="/images/phone.png")
          .column.col-5.col-mr-auto
            .intro
              p Team New York makes it easy to stay active in NYC politics:
              ul
                li Personalized city briefings
                li Action alerts
                li One-click letters to your city reps
              h6 $5/month Donation
              a.btn(href="/join") Join Now

      .container.grid-md.show-sm
        .columns
          .column.col-8.col-mx-auto
            img(src="/images/phone.png")
          .column.col-8.col-mx-auto
            .intro
              center
                br
                span Team New York makes it easy to stay active in NYC politics:
                br
                br
                ul
                  li Personalized city briefings
                  li Action alerts
                  li One-click letters to your city reps
                h6 $5/month Donation
                a.btn(href="/join") Join Now
    .container.grid-md
      hr
    section.letter
      .container.grid-md
        center
          h2 Hey Mayor!
        .postcard
          .columns
            .column.col-4
              img.img-responsive(src="/images/deblasio.jpg")
            .column.col-8
              h6 Dear Mayor DeBlasio,
              p It is imperative you oppose SR-123, the Kill the Puppies Act of 2018.
              p The ASPCA sums it up nicely: "Do not hurt the puppies. Puppies are our friends. Because puppy mills focus on profit, dogs are often bred with little regard for genetic quality. Puppy mill puppies are prone to congenital and hereditary conditions including heart disease and blood and respiratory disorders."
              p I'm grateful for your continued service to NY.
              h6 Your Constituent,
              form(action="/mayor", method="post")
                .columns
                  .column.col-4
                    input(type="text", name="name", placeholder="Your Name")
                  .column.col-4
                    input(type="text", name="email", placeholder="Your Email")
                  .column.col-4
                    center
                      button.btn(type="submit") Send

    +events(events)

    section.about
      .container.grid-md
        center
          h2 About Us
        .columns
          .column.col-6.col-mx-auto.hide-sm
            center
              | Team New York makes it easy to engage in local politics by sending action alerts and organizing toolkits on a community board, borough, and city-wide level.
          .column.col-8.col-mx-auto.show-sm
            center
              | Team New York makes it easy to engage in local politics by sending action alerts and organizing toolkits on a community board, borough, and city-wide level.

    section.support
      .container.grid.sm
        center
          h2 Support Team
            br
            | New York
        .columns.hide-sm
          .column.col-3.col-ml-auto
            img(src="/images/tote.png")
          .column.col-4.col-mr-auto
            h5 NYC Tote Bag
            h5 $19
            p Team New York makes it easy to engage in local politics by sending action alerts and organizing toolkits on a community board, borough, and city-wide level.
            ul
              li 100% Cotton Tote
              li Made in the USA
              li Ships from Brooklyn
            a.btn Buy Now
        .columns.show-sm
          .column.col-12
            center
              h5 NYC Tote Bag
              h5 $19
              a.btn Buy Now
              br
              br
          .column.col-12
            img.shadow(src="/images/tote.png")
          .column.col-12
            ul
              li 100% Cotton Tote
              li Made in the USA
              li Ships from Brooklyn