extends layout
include mixins/events.pug
include mixins/postcard.pug
include mixins/about.pug

block meta
  meta(property='og:type', content='website')
  meta(property='og:title', content='Team New York')
  meta(property='og:description', content='Team New York makes it easy to stay active in NYC politics.')
  meta(property='og:image', content='https://newyorkcity.team/images/team-nyc-logo-red.png')

block content
  section.hero
    .container.grid-sm
      center
        h1 YOU CAN DO IT!

    .container.grid-md
      .columns
        .column.col-5.col-sm-10.col-ml-auto
          video.img-responsive(src="/images/phone-animation.mp4", autoplay, poster="/images/phone.png")
            img.shadow(src="/images/phone.png")
        .column.col-5.col-sm-10.col-mx-auto
          .intro
            p Team New York makes it easy to stay active in NYC politics:
            ul
              li Personalized action alerts
              li One-click letters to your city reps
              li Local event calendar
            h6 $5/Month Donation (First Month Free!)
            a.btn(href="/join") Join Now

  section.letter
    .container.grid-md
      center
        h2 Hey Mayor!
      +postcard(letter, representative, true)
      hr

  +events(meetings)

  section.support
    .container.grid-md
      center
        h2 Support Team
          br
          | New York
      .columns
        .column.col-4.col-sm-8.col-mx-auto
          img(src="/images/tote.png")
        .column.col-6.col-sm-8.col-mx-auto
          h5 Team NYC Tote Bag
          h5 $24
          p Team New York makes it easy to engage in local politics by sending action alerts and organizing toolkits on a community board, borough, and city-wide level.
          ul
            li 100% Cotton Tote
            li Made in the USA
            li Free Shipping
          #product-component-28ed3069ff4
          script(type='text/javascript').
            /*<![CDATA[*/
            (function () {
            var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
            if (window.ShopifyBuy) {
            if (window.ShopifyBuy.UI) {
            ShopifyBuyInit();
            } else {
            loadScript();
            }
            } else {
            loadScript();
            }
            function loadScript() {
            var script = document.createElement('script');
            script.async = true;
            script.src = scriptURL;
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
            script.onload = ShopifyBuyInit;
            }
            function ShopifyBuyInit() {
            var client = ShopifyBuy.buildClient({
            domain: 'allhatsmatter.myshopify.com',
            apiKey: '8466ca12d9a6f3ef3e5b38d630474e99',
            appId: '6',
            });
            ShopifyBuy.UI.onReady(client).then(function (ui) {
            ui.createComponent('product', {
            id: [1324980535376],
            node: document.getElementById('product-component-28ed3069ff4'),
            moneyFormat: '%24%7B%7Bamount%7D%7D',
            options: {
            "product": {
            "buttonDestination": "checkout",
            "variantId": "all",
            "width": "240px",
            "contents": {
            "img": false,
            "imgWithCarousel": false,
            "title": false,
            "variantTitle": false,
            "price": false,
            "description": false,
            "buttonWithQuantity": false,
            "quantity": false
            },
            "text": {
            "button": "BUY NOW"
            },
            "styles": {
            "product": {
            "text-align": "left",
            "@media (min-width: 601px)": {
            "max-width": "calc(25% - 20px)",
            "margin-left": "20px",
            "margin-bottom": "50px"
            }
            },
            "button": {
            "background-color": "#f24236",
            ":hover": {
            "background-color": "#da3b31"
            },
            "border-radius": "5px",
            ":focus": {
            "background-color": "#da3b31"
            }
            }
            }
            },
            "cart": {
            "contents": {
            "button": true
            },
            "styles": {
            "button": {
            "background-color": "#f24236",
            ":hover": {
            "background-color": "#da3b31"
            },
            "border-radius": "5px",
            ":focus": {
            "background-color": "#da3b31"
            }
            },
            "footer": {
            "background-color": "#ffffff"
            }
            }
            },
            "modalProduct": {
            "contents": {
            "img": false,
            "imgWithCarousel": true,
            "variantTitle": false,
            "buttonWithQuantity": true,
            "button": false,
            "quantity": false
            },
            "styles": {
            "product": {
            "@media (min-width: 601px)": {
            "max-width": "100%",
            "margin-left": "0px",
            "margin-bottom": "0px"
            }
            },
            "button": {
            "background-color": "#f24236",
            ":hover": {
            "background-color": "#da3b31"
            },
            "border-radius": "5px",
            ":focus": {
            "background-color": "#da3b31"
            }
            }
            }
            },
            "toggle": {
            "styles": {
            "toggle": {
            "background-color": "#f24236",
            ":hover": {
            "background-color": "#da3b31"
            },
            ":focus": {
            "background-color": "#da3b31"
            }
            }
            }
            },
            "productSet": {
            "styles": {
            "products": {
            "@media (min-width: 601px)": {
            "margin-left": "-20px"
            }
            }
            }
            }
            }
            });
            });
            }
            })();
            /*]]>*/


  +about()