extends layout
include mixins/events.pug
include mixins/postcard.pug
include mixins/about.pug

block meta
  meta(property='og:type', content='website')
  meta(property='og:title', content='Team New York')
  meta(property='og:description', content='Team New York makes it easy to stay active in NYC politics.')
  meta(property='og:image', content='https://newyorkcity.team/images/team-nyc-logo-red.png')

block content
  section.hero
    .container.grid-sm
      center
        h1 YOU CAN DO IT!

    .container.grid-md
      .columns
        .column.col-5.col-sm-10.col-ml-auto
          video.img-responsive(src="/images/phone-animation.mp4", autoplay, poster="/images/phone.png")
            img.shadow(src="/images/phone.png")
        .column.col-5.col-sm-10.col-mx-auto
          .intro
            p Team New York makes it easy to stay active in NYC politics:
            ul
              li Personalized action alerts
              li One-click letters to your city reps
              li Local event calendar
            h6 $5/Month Donation (First Month Free!)
            a.btn(href="/join") Join Now

  section.letter
    .container.grid-md
      center
        h2 Hey Mayor!
      +postcard(letter, representative, true)
  hr

  +events(meetings)

  +about()
