extends layout

block content
  header
    section.join
      .container.grid-md
        center
          h2 Join The Team
          h6 $5/Month Donation
          hr
        .columns
          .column.col-4.col-sm-10.col-mx-auto
            h5 You matter!
            p Team New York makes it easy to engage in local politics:
            ul
              li Personalized action alerts
              li One-click letters to your city reps
              li Organizing toolkits
            hr.show-sm
          .column.col-4.col-sm-10.col-mx-auto
            if message
              p
                em.message= message
            form#join(action='/join', method='post')
              .form-group
                label.form-label(for='form-name') Name
                input#form-name.form-input(type='text', name="name", placeholder='', required)
                label.form-label(for='email') Email
                input#email.form-input(type='text', name="email", placeholder='', required)
                label.form-label(for='form-password') Password
                input#form-password.form-input(type='password', name="password", placeholder='', minlength="6", required)
                p
                select.form-select(name="neighborhood", required)
                  option(value="") Neighborhood
                  option Allerton
                  option Annadale
                  option Arden Heights
                  option Arlington
                  option Arrochar
                  option Arverne
                  option Astoria
                  option Astoria Heights
                  option Auburndale
                  option Bath Beach
                  option Bay Ridge
                  option Bay Terrace
                  option Bay Terrace
                  option Baychester
                  option Bayside
                  option Bedford Park
                  option Bedford Stuyvesant
                  option Beechhurst
                  option Bellaire
                  option Belle Harbor
                  option Bellerose
                  option Belmont
                  option Bensonhurst
                  option Bergen Beach
                  option Blissville
                  option Bloomfield
                  option Boerum Hill
                  option Borough Park
                  option Breezy Point
                  option Briarwood
                  option Brighton Beach
                  option Broad Channel
                  option Broadway Junction
                  option Bronx Park East
                  option Brooklyn Heights
                  option Brooklyn Navy Yard
                  option Brookville
                  option Brownsville
                  option Bulls Head
                  option Bushwick
                  option Butler Manor
                  option Cambria Heights
                  option Canarsie
                  option Carnegie Hill
                  option Carroll Gardens
                  option Castle Hill
                  option Castleton Corners
                  option Central Harlem
                  option Central Park
                  option Central Park South
                  option Charleston
                  option Chelsea
                  option Chinatown
                  option City Island
                  option City Line
                  option Civic Center
                  option Claremont Village
                  option Clason Point
                  option Clifton
                  option Clinton Hill
                  option Co-op City
                  option Cobble Hill
                  option College Point
                  option Concord
                  option Concourse
                  option Concourse Village
                  option Coney Island
                  option Country Club
                  option Crown Heights
                  option Cypress Hills
                  option Ditmas Park
                  option Dongan Hills
                  option Douglaston
                  option Downtown Brooklyn
                  option Downtown Flushing
                  option Dumbo
                  option Dyker Heights
                  option East Elmhurst
                  option East Flatbush
                  option East Harlem
                  option East New York
                  option East Tremont
                  option East Village
                  option East Williamsburg
                  option Eastchester
                  option Edenwald
                  option Edgemere
                  option Edgewater Park
                  option Egbertville
                  option El Barrio
                  option Elm Park
                  option Elmhurst
                  option Eltingville
                  option Emerson Hill
                  option Far Rockaway
                  option Fieldston
                  option Financial District
                  option Flatbush
                  option Flatiron
                  option Flatlands
                  option Floral Park
                  option Fordham
                  option Forest Hills
                  option Forest Hills Gardens
                  option Fort Greene
                  option Fort Hamilton
                  option Fresh Meadows
                  option Fulton Ferry
                  option Georgetown
                  option Gerritsen Beach
                  option Glen Oaks
                  option Glendale
                  option Governors Island
                  option Gowanus
                  option Gramercy
                  option Grand Central
                  option Graniteville
                  option Grant City
                  option Grasmere
                  option Gravesend
                  option Great Kills
                  option Greenpoint
                  option Greenridge
                  option Greenwich Village
                  option Grymes Hill
                  option Hamilton Heights
                  option Heartland Village
                  option Hell's Kitchen
                  option High Bridge
                  option Highland Park
                  option Hillcrest
                  option Hollis
                  option Holliswood
                  option Homecrest
                  option Howard Beach
                  option Howland Hook
                  option Hudson Yards
                  option Huguenot
                  option Hunters Point
                  option Hunts Point
                  option Inwood
                  option Jackson Heights
                  option Jamaica Center
                  option Jamaica Estates
                  option Jamaica Hills
                  option Kensington
                  option Kew Gardens
                  option Kew Gardens Hills
                  option Kingsbridge
                  option Kips Bay
                  option Laurelton
                  option Lefrak City
                  option Lenox Hill
                  option Lighthouse Hill
                  option Lincoln Square
                  option Lindenwood
                  option Little Italy
                  option Little Neck
                  option Long Island City
                  option Longwood
                  option Lower East Side
                  option Madison
                  option Malba
                  option Manhattan Beach
                  option Manhattan Terrace
                  option Manhattan Valley
                  option Manhattanville
                  option Manor Heights
                  option Marble Hill
                  option Marine Park
                  option Mariner's Harbor
                  option Maspeth
                  option Melrose
                  option Middle Village
                  option Midland Beach
                  option Midtown
                  option Midtown South
                  option Midtown West
                  option Midwood
                  option Mill Basin
                  option Mill Island
                  option Morningside Heights
                  option Morris Heights
                  option Morris Park
                  option Morrisania
                  option Mott Haven
                  option Mount Eden
                  option Mount Hope
                  option Murray Hill
                  option Neponsit
                  option New Brighton
                  option New Dorp
                  option New Dorp Beach
                  option New Lots
                  option New Springville
                  option Noho
                  option North Corona
                  option North Riverdale
                  option North Side Williamsburg
                  option Northeast Bronx
                  option Norwood
                  option Oakland Gardens
                  option Oakwood
                  option Ocean Hill
                  option Ocean Parkway
                  option Old Town
                  option Olinville
                  option Ozone Park
                  option Paerdegat Basin
                  option Park Hill
                  option Park Slope
                  option Parkchester
                  option Pelham Bay
                  option Pelham Gardens
                  option Pelham Parkway
                  option Peter Cooper Village
                  option Pleasant Plains
                  option Pomonok
                  option Port Ivory
                  option Port Morris
                  option Port Richmond
                  option Prince's Bay
                  option Prospect Heights
                  option Prospect Lefferts Gardens
                  option Prospect Park South
                  option Queens Village
                  option Queensboro Hill
                  option Randall Manor
                  option Randalls Island
                  option Ravenswood
                  option Red Hook
                  option Rego Park
                  option Remsen Village
                  option Richmond Hill
                  option Richmond Town
                  option Richmond Valley
                  option Ridgewood
                  option Riverdale
                  option Rochdale
                  option Rockaway Park
                  option Roosevelt Island
                  option Rosebank
                  option Rosedale
                  option Rosehill
                  option Rossville
                  option Roxbury
                  option Rugby
                  option San Juan Hill
                  option Sandy Ground
                  option Schuylerville
                  option Sea Gate
                  option Seaside
                  option Sheepshead Bay
                  option Shore Acres
                  option Silver Lake
                  option Soho
                  option Somerville
                  option Soundview
                  option South Beach
                  option South Bronx
                  option South Corona
                  option South Jamaica
                  option South Ozone Park
                  option South Side Williamsburg
                  option Spring Creek
                  option Springfield Gardens
                  option Spuyten Duyvil
                  option St. Albans
                  option St. George
                  option Stapleton
                  option Starrett City
                  option Steinway
                  option Stuyvesant Town
                  option Sunnyside
                  option Sunnyside Gardens
                  option Sunset Park
                  option Sutton Place
                  option Throgs Neck
                  option Todt Hill
                  option Tompkinsville
                  option Tottenville
                  option Travis
                  option Tribeca
                  option Tudor City
                  option Turtle Bay
                  option Unionport
                  option University Heights
                  option Upper East Side
                  option Upper West Side
                  option Utopia
                  option Van Cortlandt Village
                  option Van Nest
                  option Vinegar Hill
                  option Wakefield
                  option Wallabout
                  option Washington Heights
                  option Washington Square Village
                  option Waterside
                  option Weeksville
                  option West Brighton
                  option West Farms
                  option West Village
                  option Westchester Square
                  option Westerleigh
                  option Whitestone
                  option Williamsbridge
                  option Williamsburg
                  option Willowbrook
                  option Windsor Terrace
                  option Wingate
                  option Woodhaven
                  option Woodlawn
                  option Woodrow
                  option Woodside
                  option Yorkville
                  option Zerega
                p
                center
                  button.btn(type="submit") Sign Up
            p
              small
                em By joining you agree that you are at least 18 years of age and agree to the
                  a(href="/terms") &nbsp;terms &amp; conditions
                  | .

    section.about
      .container.grid-md
        center
          h2 Why Join?
        .columns
          .column.col-6
            p Team New York makes it easy to engage in local politics by sending action alerts and organizing toolkits on a community board, borough, and city-wide level.
          .column.col-6
            p Team New York makes it easy to engage in local politics by sending action alerts and organizing toolkits on a community board, borough, and city-wide level.

block javascript
  script.
