doctype html
html
  head
    title Team New York
    link(rel='stylesheet', href='/stylesheets/spectre.min.css')
    link(rel='stylesheet', href='/stylesheets/spectre-icons.min.css')
    link(rel='stylesheet', href='/stylesheets/spectre-exp.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  body
    nav
      .container.grid-md
        header.navbar
          section.navbar-section
            a(href='/')
              img.nav(src='/images/team-nyc-logo-white.png')
          section.navbar-section
            if user
              a(href='/logout') Logout
              a#dashboard(href='/dashboard') Dashboard
              a#settings(href='/settings') Settings
            else
              a.btn(href='/join') Join Now
              a(href='/login') Log In
    block content
    footer
      .container.grid-md
        center
          a(href="/") Home
          span &middot;
          a(href="/join") Join
          span &middot;
          a(href="/faq") FAQ
          span &middot;
          a(href="/contact") Contact
          p
          em &copy; 2018 Citizen Capital, a 501c(3) Nonprofit