doctype html
html
  head
    title Team New York
    link(rel='stylesheet', href='/stylesheets/spectre.min.css')
    link(rel='stylesheet', href='/stylesheets/spectre-icons.min.css')
    link(rel='stylesheet', href='/stylesheets/spectre-exp.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if user
      nav
        .container.grid-md
          header.navbar
            section.navbar-section
              a(href='/dashboard') Dashboard
            section.navbar-section
              a(href='/settings') Settings
              a(href='/logout') Logout

    block content
    footer
      .container.grid-md
        center
          a(href="/") Home
          span &middot;
          a(href="/about") Join
          span &middot;
          a(href="/about") About
          span &middot;
          a(href="/contact") Contact
          p
          em &copy; 2018 Citizen Capital, a 501c(3) Nonprofit