extends layout
include mixins/postcard.pug

block meta
  meta(property='og:type', content='website')
  meta(property='og:title', content='Team New York | ' + letter.subject)
  meta(property='og:description', content=letter.content)
  meta(property='og:image', content=letter.image)

block content
  section
    .container.grid-md
      center
        h2 Get the word out!
      if user
        +postcard(letter, representative, false)
      else
        +postcard(letter, representative, true)
