extends layout

block meta
  meta(property='og:type', content='website')
  meta(property='og:title', content='Team New York | ' + letter.subject)
  meta(property='og:description', content=letter.content)
  meta(property='og:image', content='https://newyorkcity.team/images/social-image.png')

block content
  if (letter && user)
    section
      .container.grid-md
        +postcard(letter, user.representatives.councilMember, false)
  else
    center
      h6 You've already sent this letter!
      p We'll send you an alert once there's more news.
