extends layout

block content
  header
    section.join
      .container.grid-md
        center
          if (message.length > 0)
            p
              em message
        center
          h2 Log In
          hr
        .columns
          .column.col-4.col-ml-auto
            form(action='/login', method='post')
              label.form-label(for='input-example-1') Email
              input#input-example-1.form-input(type='text', name="email", placeholder='', required)
              label.form-label(for='input-example-1') Password
              input#input-example-1.form-input(type='password', name="password", placeholder='', required)
              p
                center
                  button.btn(type="submit") Log In
              p
                a(href="/reset") Forgot Password?
          .column.col-1
            p &nbsp;
          .column.col-4.col-mr-auto
            h5 You matter!
            p Team New York makes it easy to engage in local politics:
            p
              ul
                li Personalized action alerts
                li One-click letters to your city reps
                li Organizing toolkits
            h6
              a(href="/join") Join Now
