extends simple

block content
  header
    section.join
      .container.grid-md
        center
          h2 You did it!
          h6
            em "I just emailed my city rep about the #{letter.subject}, and you should too! #{letter.shareText}"

        .columns
          .column.col-4.col-ml-auto
            a.btn.facebook(href="#") Share on Facebook
          .column.col-4.col-mr-auto
            a.btn.twitter(href="#") Share on Twitter