extends layout
include mixins/facebook.pug
include mixins/twitter.pug
include mixins/postcard.pug
include mixins/about.pug

block content
  header
    section.share
      .container.grid-sm
        .wrapper
          center
            h2 Get the word out!
            img.logo(src=letter.image)
            h6 Share:
            .columns
              .column.col-2.col-sm-8.col-ml-auto
                #fb-root
                .fb-share-button(data-href='https://newyorkcity.team/letter/' + letter.id, data-layout='button_count', data-size='large', data-mobile-iframe='true')
                  a.fb-xfbml-parse-ignore(target='_blank', href='https://newyorkcity.team/letter/' + letter.id) Share

              .column.col-2.col-sm-8.col-mr-auto
                a.twitter-share-button(href='https://twitter.com/intent/tweet?text=' + letter.notificationText, data-size='large') Tweet

  +about()

block javascript
  +facebook()
  +twitter()
