doctype html
html
  head
    title Team New York
    link(rel='stylesheet', href='/stylesheets/spectre.min.css')
    link(rel='stylesheet', href='/stylesheets/spectre-icons.min.css')
    link(rel='stylesheet', href='/stylesheets/spectre-exp.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  body

    section
      center
        .container.grid-sm
          .columns
            .column.col-2.col-mx-auto
              img.img-responsive(src="/images/logo-red.png")

    block content
    footer
      .container.grid-md
        center
          a(href="/") Home
          span &middot;
          a(href="/join") Join
          span &middot;
          a(href="/faq") FAQ
          span &middot;
          a(href="https://goo.gl/forms/UU9z1ivwM2nSdlNi2") Contact
          span &middot;
          a(href="/terms") Terms
          span &middot;
          a(href="/privacy") Privacy
          span &middot;
          a(href="https://github.com/philleif/team-newyork", target="new") Github
          p
          em &copy; 2018 Citizen Capital, a 501c(3) Nonprofit

    block javascript
