extends layout

block content
  header.hero
    section.hero
      .container.grid-sm
        center
          h2 Thanks!
          h6 We'll look over your submission ASAP.
          br
          br
          a(href="/dashboard") Back to the dashboard.