@font-face {
  font-family: "GT-Walsheim-Pro-Bold";
  src: url("/fonts/GT-Walsheim-Pro-Bold.ttf"); }
@font-face {
  font-family: "GT-Walsheim-Pro-Regular";
  src: url("/fonts/GT-Walsheim-Pro-Regular.ttf"); }
@font-face {
  font-family: "GT-Walsheim-Pro-Regular-Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Regular-Oblique.ttf"); }
@font-face {
  font-family: "GT-America-Expanded-Black";
  src: url("/fonts/GT-America-Expanded-Black.ttf"); }
body {
  font-family: Roboto;
  padding: 0px;
  color: #333333; }
  body.simple {
    background: #FDEF43; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "GT-Walsheim-Pro-Bold";
  color: #000000;
  margin-bottom: 1em; }

h1 {
  font-family: "GT-Walsheim-Pro-Bold";
  text-transform: uppercase;
  margin-bottom: 0.4em;
  line-height: 1em;
  font-size: 4em;
  color: #f24236; }

h2 {
  text-transform: uppercase;
  text-decoration: underline; }

h5, h6 {
  font-family: "GT-Walsheim-Pro-Bold"; }

ul {
  margin: 0; }
  ul li {
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 0.5em; }

nav {
  background: #FDEF43;
  padding-bottom: 2em; }
  nav .navbar-section {
    padding-top: 1em;
    padding-bottom: 1em; }
  nav a {
    color: white;
    margin-right: 2em; }
    nav a:hover {
      text-decoration: none; }

a {
  color: #f24236; }
  a:hover {
    color: #f24236; }
  a.patreon {
    color: #f96854; }
  a.active {
    color: #f24236; }

p {
  text-align: justify; }

hr {
  border: 1px solid #eee;
  margin: 2em; }

input {
  padding: 3px; }

textarea.form-input {
  width: 100%; }

label {
  font-weight: bold; }

footer {
  background: #eee;
  color: #ccc;
  font-size: 0.8em;
  padding: 2em; }
  footer span {
    margin: 2em; }

section {
  padding-top: 1em;
  padding-bottom: 1em; }
  section.share {
    min-height: 60vh;
    background: #FDEF43; }
    section.share .wrapper {
      background-color: white;
      padding: 2em; }
  section.agenda {
    background: white; }
  section.hero {
    background: #FDEF43; }
    section.hero .columns {
      margin-top: 1em; }
    section.hero h6 {
      margin-top: 2em; }
    section.hero .intro p {
      font-size: 2em;
      line-height: 1.2em;
      text-align: left;
      font-family: "GT-Walsheim-Pro-Bold"; }
    section.hero .intro a.btn {
      margin-top: 1em;
      padding-left: 2em;
      padding-right: 2em; }
  section.letter {
    padding-top: 2em; }
    section.letter h2 {
      color: #f24236; }
  section.email {
    color: #ffffff;
    background: #000000;
    padding: 1em; }
    section.email input,
    section.email a.btn {
      width: 100%; }
  section.about {
    color: #ffffff;
    background: #000000; }
    section.about h2 {
      color: white; }
  section.join {
    margin-bottom: 2em; }
    section.join .btn {
      width: 100%; }
  section.support {
    background: #FDEF43; }
    section.support .btn {
      margin-top: 1em; }
    section.support h5 {
      color: #f24236; }
    section.support h5 {
      margin-bottom: 0; }
    section.support p {
      margin-top: 1em; }
  section.submit {
    background: #FDEF43;
    padding-bottom: 2em; }

.signature {
  font-family: 'Caveat', cursive;
  font-size: 1.5em; }

img {
  width: 100%; }
  img.logo {
    width: 200px;
    margin-bottom: 1em; }
  img.small {
    width: 150px;
    margin-bottom: 2em; }
  img.nav {
    width: 50px; }

.tile {
  margin-top: 1em;
  background: #FDEF43;
  padding: 1em;
  min-height: 165px; }
  .tile img {
    max-width: 5em; }
  .tile .tile-icon {
    margin-right: 2em; }

.btn {
  color: white;
  background: #f24236;
  border: 2px solid #f24236;
  border-radius: 0;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 12px; }
  .btn:hover {
    color: #f24236;
    background: white;
    border: 2px solid #f24236; }
  .btn.twitter {
    background: #1dcaff;
    border: 2px solid #1dcaff; }
    .btn.twitter:hover {
      color: #1dcaff;
      background: white; }
  .btn.facebook {
    background: #0084FF;
    border: 2px solid #0084FF; }
    .btn.facebook:hover {
      color: #0084FF;
      background: white; }

.postcard {
  background: white; }
  .postcard input {
    width: 100%; }
  .postcard a.btn {
    width: 100%; }

.message {
  color: #f24236;
  padding-bottom: 2em; }

.shadow {
  filter: drop-shadow(0 0 10px #666); }

.form-input:focus {
  border-color: #ccc;
  box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0); }

#card-element {
  margin-top: 1em;
  margin-bottom: 1em; }

@media all and (max-width: 736px) {
  h1 {
    font-size: 4em; }

  h5 {
    font-size: 1.5em; }

  span {
    font-size: 1.2em; } }

/*# sourceMappingURL=style.css.map */
