$primary: #000000;
$secondary: #000033;
$red: #f24236;
$yellow: #FDEF43;
$blue: #0084FF;

@font-face {
  font-family: "GT-Walsheim-Pro-Bold";
  src: url("/fonts/GT-Walsheim-Pro-Bold.ttf");
}

@font-face {
  font-family: "GT-Walsheim-Pro-Regular";
  src: url("/fonts/GT-Walsheim-Pro-Regular.ttf");
}

@font-face {
  font-family: "GT-Walsheim-Pro-Regular-Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Regular-Oblique.ttf");
}

@font-face {
  font-family: "GT-America-Expanded-Black";
  src: url("/fonts/GT-America-Expanded-Black.ttf");
}

body {
  font-family: Roboto;
  padding: 0px;
  color: #333333;
  &.simple {
    background: $yellow;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "GT-Walsheim-Pro-Bold";
  color: $primary;
  margin-bottom: 1em;
}

h1 {
  font-family: "GT-Walsheim-Pro-Bold";
  text-transform: uppercase;
  margin-bottom: 0.4em;
  line-height: 1em;
  font-size: 4em;
  color: $red;
}

h2 {
  text-transform: uppercase;
  text-decoration: underline;
}

h5, h6 {
  font-family: "GT-Walsheim-Pro-Bold";
}

ul {
  margin: 0;
  li {
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}

nav {
  background: $yellow;
  padding-bottom: 2em;
  .navbar-section {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  a {
    color: white;
    margin-right: 2em;
    &:hover {
      text-decoration: none;
    }
  }
}

a {
  color: $red;
  &:hover {
    color: $red;
  }
  &.patreon {
    color: rgb(249, 104, 84);
  }
  &.active {
    color: $red;
  }
}

p {
  text-align: justify;
}

hr {
  border: 1px solid #eee;
  margin: 2em;
}

input {
  padding: 3px;
}

textarea {
  &.form-input {
    width: 100%;
  }
}

label {
  font-weight: bold;
}

footer {
  background: #eee;
  color: #ccc;
  font-size: 0.8em;
  padding: 2em;
  span {
    margin: 2em;
  }
}

section {
  padding-top: 1em;
  padding-bottom:1em;
  &.share {
    min-height: 60vh;
    background: $yellow;
    .wrapper {
      background-color: white;
      padding: 2em;
    }
  }
  &.agenda {
    background: white;
  }
  &.hero {
    background: $yellow;
    .columns {
      margin-top: 1em;
    }
    h6 {
      margin-top: 2em;
    }
    .intro {
      p {
        font-size: 2em;
        line-height: 1.2em;
        text-align: left;
        font-family: "GT-Walsheim-Pro-Bold";
      }
      a.btn {
        margin-top: 1em;
        padding-left: 2em;
        padding-right: 2em;
      }
    }
  }
  &.letter {
    padding-top: 2em;
    h2 {
      color: $red;
    }
  }
  &.email {
    color: #ffffff;
    background: $primary;
    padding: 1em;
    input,
    a.btn {
      width: 100%;
    }
  }
  &.about {
    color: #ffffff;
    background: $primary;
    h2 {
      color: white;
    }
  }
  &.join {
    margin-bottom: 2em;
    .btn {
      width: 100%;
    }
  }
  &.support {
    background: $yellow;
    .btn {
      margin-top: 1em;
    }
    h5 {
      color: $red;
    }
    h5 {
      margin-bottom: 0;
    }
    p {
      margin-top: 1em;
    }
  }
  &.submit {
    background: $yellow;
    padding-bottom: 2em;
  }
}

.signature {
  font-family: 'Caveat', cursive;
  font-size: 1.5em;
}

img {
  width: 100%;
  &.logo {
    width: 200px;
    margin-bottom: 1em;
  }
  &.small {
    width: 150px;
    margin-bottom: 2em;
  }
  &.nav {
    width: 50px;
  }
}

.tile {
  margin-top: 1em;
  background: $yellow;
  padding: 1em;
  min-height: 165px;
  img {
    max-width: 5em;
  }
  .tile-icon {
    margin-right: 2em;
  }
}

.btn {
  color: white;
  background: $red;
  border: 2px solid $red;
  border-radius: 0;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 12px;
  &:hover {
    color: $red;
    background: white;
    border: 2px solid $red;
  }
  &.twitter {
    background: #1dcaff;
    border: 2px solid #1dcaff;
    &:hover {
      color: #1dcaff;
      background: white;
    }
  }
  &.facebook {
    background: #0084FF;
    border: 2px solid #0084FF;
    &:hover {
      color: #0084FF;
      background: white;
    }
  }
}

.postcard {
  background: white;
  input {
    width: 100%;
  }
  a.btn {
    width: 100%;
  }
}

.message {
  color: $red;
  padding-bottom: 2em;
}

.shadow {
  filter: drop-shadow(0 0 10px #666);
}

.form-input:focus, select.form-select:focus {
  border-color: #ccc;
  box-shadow: 0 0 0 .1rem rgba(87, 85, 217, 0);
}

.shopify-buy-frame--toggle.is-active.is-sticky {
  display: none !important;
}

#card-element {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media all and (max-width: 736px) {
  h1 {
    font-size: 4em;
  }
  h5 {
    font-size: 1.5em;
  }
  span {
    font-size: 1.2em;
  }
}