$dark-blue: #000033;
$red: #ef4621;

@font-face {
  font-family: "GT-Walsheim-Pro-Bold";
  src: url("/fonts/GT-Walsheim-Pro-Bold.ttf");
}

@font-face {
  font-family: "GT-Walsheim-Pro-Regular";
  src: url("/fonts/GT-Walsheim-Pro-Regular.ttf");
}

@font-face {
  font-family: "GT-Walsheim-Pro-Regular-Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Regular-Oblique.ttf");
}

@font-face {
  font-family: "GT-America-Expanded-Black";
  src: url("/fonts/GT-America-Expanded-Black.ttf");
}

body {
  font-family: "GT-Walsheim-Pro-Regular";
  padding: 0px;
  color: #333333;
}

h1,
h2,
h3,
h4 {
  font-family: "GT-America-Expanded-Black";
  color: $dark-blue;
  text-transform: uppercase;
  margin-bottom: 1em;
}

h1 {
  margin-bottom: 0.4em;
  line-height: 1em;
  font-size: 6em;
}

h6 {
  font-family: "GT-Walsheim-Pro-Bold";
}

ul {
  margin-top: 0;
  li {
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}

a {
  color: $red;
  &:hover {
    color: $red;
  }
  &.patreon {
    color: rgb(249, 104, 84);
  }
}

input {
  padding: 3px;
}

footer {
  background: #eee;
  color: #ccc;
  font-size: 0.8em;
  padding: 2em;
  span {
    margin: 2em;
  }
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
  &.hero {
    h6 {
      margin-bottom: 2em;
    }
  }
  &.email {
    color: #ffffff;
    background: $dark-blue;
    padding: 1em;
    input,
    a.btn {
      width: 100%;
    }
  }
  &.about {
    color: #ffffff;
    background: $dark-blue;
    h2 {
      color: white;
    }
  }
  &.letter {
    background: url("/images/skyline.jpg");
    background-size: cover;
  }
}

img {
  width: 100%;
  &.logo {
    width: 200px;
  }
}

.btn {
  color: white;
  background: $red;
  border: 2px solid $red;
  border-radius: 0;
  &:hover {
    color: $red;
    background: white;
    border: 2px solid $red;
  }
}

.postcard {
  background: white;
  border: 8px solid $red;
  padding: 1em;
  input {
    width: 100%;
  }
  a.btn {
    width: 100%;
  }
}
