mixin about()
  section.about
    .container.grid-md
      center
        h2 About Us
      .columns
        .column.col-8.col-mx-auto
          center
            | Team New York makes it easy to engage in local politics by sending action alerts and organizing toolkits on a community board, borough, and city-wide level.
