mixin footer()
  footer
    .container.grid-md
      center
        a(href="/") Home
        span &middot;
        a(href="/join") Join
        span &middot;
        a(href="/faq") FAQ
        span &middot;
        a(href="https://goo.gl/forms/UU9z1ivwM2nSdlNi2") Contact
        span &middot;
        a(href="/terms") Terms
        span &middot;
        a(href="/privacy") Privacy
        span &middot;
        a(href="https://github.com/philleif/team-newyork", target="new") Github
        p
        em &copy; 2018 Citizen Capital, a 501c(3) Nonprofit