mixin head()
  title Team New York
  link(rel='stylesheet', href='/stylesheets/spectre.min.css')
  link(rel='stylesheet', href='/stylesheets/spectre-icons.min.css')
  link(rel='stylesheet', href='/stylesheets/spectre-exp.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Caveat')
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  // Global site tag (gtag.js) - Google Analytics
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-116732316-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-116732316-1');